---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}"
      >{% if page.type != 'pages' %} {{ page.date | date: "%B %-d, %Y" }} {%
      endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>

    <side style="font-size: 0.9em;">
      <h3 style="margin-bottom: 1em;">Notes mentioning this note</h3>
      {% if page.backlinks.size > 0 %}
      <div
        style="
          max-height: 400px;
          overflow: auto;
          display: grid;
          grid-gap: 1em;
          grid-template-columns: repeat(1fr);
        "
      >
        {% for backlink in page.backlinks %}
        <div class="backlink-box">
          <a class="internal-link" href="{{ backlink.url }}"
            >{{ backlink.title }}</a
          ><br />
          <div style="font-size: 0.9em;">
            {{ backlink.excerpt | strip_html | truncatewords: 10 }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}

      <div style="font-size: 0.9em;">
        <p>
          There are no notes linking to this note.
        </p>
      </div>
      {% endif %}
    </side>
  </div>
</article>

<hr />

<p>
  Here are all the zettels in this zettelkasten, along with their links,
  visualized as a graph. You may need to zoom and pan around to see something.
</p>

{% include notes_graph.html %}
